body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
div{
    min-width: 470px;
}
.fraga_div, .svar_div, .resultat_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    border: 2px solid black;
}